input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 40px;
	background: rgb(247, 145, 86);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: rgb(235, 202, 152);
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #dd8015;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}


body {
  background-image: url('./jjangkoo/a.jpg');
  background-repeat: no-repeat;
  background-size:100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* ------ */
.box {
  /* border : 1px gray solid; */
  width : 100px;
  height:100px;
  position : fixed;
  top : 100px;
  background-color :transparent;
}

.hiddenback{
  position : fixed;
  box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px, rgba(0,0,0,0.5) 2px 2px 3px 3px;

  z-index : 100;
}